:root {
  --navbar-white: rgb(255, 255, 255);
  --navbar-background: rgb(20, 33, 143);
  --background: rgb(200, 200, 200);
}

::selection {
  background-color: rgb(172, 255, 46);
  color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}

html {
  font-size: clamp(12px, 11px + 0.35vw, 18px);
  scrollbar-width: auto;
  scrollbar-color: auto auto;
}

body {
  margin: 0;
  padding: 0.5rem;
  background-color: var(--background);
}

.dfc, /* sadece elementin kendisi */
.onlyc-dfc > *, /* birincil çocuklara */
.all1c-dfc, /* birincil çocuklara + kendisine */
.all1c-dfc > *, 
.allc-dfc *, /* tüm çocuklara */
.all-dfc, /* tüm çocuklara + kendisine */
.all-dfc *,
button, label, input, select, option {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border-width: 2px;
  border-radius: 0.3rem;
  border-style: outset;

  border-color: inherit;
  color: inherit;

  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  gap: 0.5rem;
}

select,
option {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.2rem 0.3rem;
}

input, textarea {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.1rem 0.2rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus-visible {
  outline: 1px solid greenyellow;
}

input[type="text"] {
}

input[type="number"] {
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"]:checked {
  accent-color: rgb(0, 255, 64);
}

.navbar {
  display: flex;
  width: 100%;
  height: 3rem;
  margin: 0.5rem 0;
}

.navbar > * {
  gap: 1rem;
  font-size: 1.2rem;
  text-shadow: 4px 2px 4px;
  background-color: var(--navbar-background);
  color: var(--navbar-white);
  border-radius: 0.5rem;
}

[data-href] {
  cursor: pointer;
}

[data-href]:active {
  text-decoration: underline;
  opacity: 0.5;
}

.home {
  flex: 3;
}

.add-item {
  flex: 3;
}

.search {
  flex: 9;
}

.search input {
  height: 2rem;
  border-radius: 0.6rem;
}

.account {
  flex: 3;
}

.navbar-toggle {
  display: none;
}

.main-container {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  gap: 1rem;
}

.main-container > * {
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  body {
    padding: 0.5rem 0;
  }

  .navbar {
    position: fixed;
    z-index: 1;
    right: 0.25rem;
    width: calc(100% - 0.5rem);
    flex-wrap: wrap;
    height: auto;
    margin: 0;
    /* row-gap: 0.1rem; */
  }

  /* 1. satır: home + add-item + account */
  .home,
  .add-item,
  .account {
    order: 1;
    height: 2rem;
    flex: 1 1 calc((100% - 2 * 0.5rem) / 3); /* 3'lü satır */
  }

  /* 2. satır: search + toggle */
  .search {
    order: 2;
    height: 2.5rem;
    flex: 1 1 auto; /* kalan alanı alsın */
    min-width: 0; /* taşmayı azaltır */
    flex-wrap: wrap;
  }

  .navbar-toggle {
    display: block;
    position: absolute;
    right: 1rem;
  }

  .search button:active {
    filter: invert(1);
  }

  .main-container {
    padding: 0 0.5rem;
    flex-direction: column;
    height: 100dvh;
    margin: 5rem 0 0.5rem 0;
  }
}

@media (max-width: 480px) {
}

@media (hover: hover) {
  [data-href]:hover {
    text-decoration: underline;
    opacity: 0.5;
  }
  .search button:hover {
    filter: invert(1);
  }
}
